h3 Home

div(cm-weather, zip='37203')
div(cm-weather, zip='10011')
div(cm-weather, zip='99501')

div(ng-repeat='symbol in symbols', cm-stock, symbol='{{symbol}}')
div(ng-repeat='person in people', cm-greeting, name='{{person.name}}', age='{{person.age}}')

div(cm-clock, frequency='2000')
div(cm-clock, frequency='1000')
div(cm-clock, frequency='500')
div(cm-clock, frequency='250')
div(cm-clock, frequency='10')

