h3 Home

div(cm-locate)

div

input(type='text', ng-model='title')
button(ng-click='addMovie()') Add Movie

div

div(cm-movie, ng-repeat='title in titles', title='{{title}}', remove='delMovie($index)')

div

div(cm-weather, zip='37203')
div(cm-weather, zip='10011')
div(cm-weather, zip='99501')

div

div(ng-repeat='symbol in symbols', cm-stock, symbol='{{symbol}}')
div(ng-repeat='person in people', cm-greeting, name='{{person.name}}', age='{{person.age}}')

div

div(cm-clock, frequency='2000')
div(cm-clock, frequency='1000')
div(cm-clock, frequency='500')
div(cm-clock, frequency='250')
div(cm-clock, frequency='10')

