img(ng-src='{{poster}}')
div {{movie.title}}
div {{movie.year}}
div {{movie.mpaa_rating}}
div {{movie.runtime}}
div {{movie.ratings.critics_rating}}
ul
  li(ng-repeat='cast in movie.abridged_cast') {{cast.name}}


